// BlushPink

$BlushPink50: #FFF3FF;
$BlushPink100: #FFE7FF;
$BlushPink200: #FECEFF;
$BlushPink300: #FFA7FC;
$BlushPink400: #FF73FA;
$BlushPink500: #F73EF0;
$BlushPink600: #DB1ED0;
$BlushPink700: #B615A9;
$BlushPink800: #951389;
$BlushPink900: #79166D;
$BlushPink950: #510148;

// SeaShell

$SeaShell25: #FFFFFF;
$SeaShell50: #F7F8F8;
$SeaShell100: #F0F1F2;
$SeaShell200: #D9DCDE;
$SeaShell300: #B8BDC1;
$SeaShell400: #919A9F;
$SeaShell500: #737D84;
$SeaShell600: #5D666C;
$SeaShell700: #4C5358;
$SeaShell800: #373B40;
$SeaShell900: #121212;
$SeaShell950: #0C0C0C;

// dark

// $SeaShell25: #0C0C0C;
// $SeaShell50: #121212;
// $SeaShell100: #373B40;
// $SeaShell200: #4C5358;
// $SeaShell300: #5D666C;
// $SeaShell400: #737D84;
// $SeaShell500: #919A9F;
// $SeaShell600: #B8BDC1;
// $SeaShell700: #D9DCDE;
// $SeaShell800: #F0F1F2;
// $SeaShell900: #F7F8F8;
// $SeaShell950: #FFFFFF;