@import "tailwindcss";

:root {
  --background: #FFF3FF;
  --foreground: #0C0C0C;
}

* {
  transition: all .4s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 10px 20px;
  overflow-x: hidde !important;
}
