.welcome {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  user-select: none;

  >div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--SeaShell-950);

    >p {
      font-size: 14px;
    }

    >h1 {
      font-weight: 700;
    }
  }

  img {
    border-radius: 50%;
    padding: 3px;
    border: 1px solid var(--BlushPink-400);
    cursor: pointer;
  }
}