@use '../../app/colors.scss' as * ;

.button {
  padding: 10px 20px;
  background-color: $SeaShell100;
  color: $SeaShell950;
  border-radius: 20px;
  cursor: pointer;
  >h1 {
    font-size: 12px;
    opacity: 0.5;
  }

  &.fill {
    background-color: $BlushPink400;
    color: $SeaShell25;
    >h1 {
      opacity: 1;
    }
  }
}

.groups {
  padding: 10px;
  display: flex;
  gap: 10px;
}