.input {
  width: 100%;
  background-color: var(--SeaShell-100);
  color: var(--SeaShell-950);
  border-radius: 99px;
  opacity: 0.5;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 6px;

  input {
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &::placeholder {
    color: var(--SeaShell-950);
  }
}